* {
    margin: 0;
    padding: 0;
}

body, footer {
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: white;
}

#navbar {
    background-color: black;
    width: 100%;
    height: auto;
    display: inline-block;
}

#navbar div {
    display: inline-flex;
    margin: 5px;
    padding: 5px;
    border: 1px red solid;
}

#logo {
    color: white;
    float: left;
}

#logo img {
    width: 2em;
}

#burger_menu {
    float: right;
    color: white;
}

#head-banner {
    margin: 10px;
    padding: 5px;
    width: 90%;
    border: 1px red solid;
}

#see {
    margin: 5px;
    background: seashell;
    width: 90%;
    height: 3em;
}

#see input {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.categories {
    width: 90%;
}

#cat-cards {
    position: relative;
    padding: 0 2px;
    width: 100%;
    height: auto;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    
    
}

.cat {
    width: 30%;
    height: 5em;
    background-color: grey;
    margin: 5px 3px;
    border: 1px black solid;
}

.cat-brads {
    height: 10em;
}

.cat-bgs {
    height: 10em;
    position: relative;
    top: -5em;
}

.cat p {
    position: relative;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
}
